<h1 class="text-center">Log in</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form method="post">
                <hr />
                <div class="text-center mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="Username" />
                </div>
                <div class="text-center mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="Password" />
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>