.confirm-container {
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
}

.header h2 {
  margin-bottom: 0px;
}

.actions {
  min-height: 80px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
